$backgroundColor:#f1f1f1;
$whatsApp:#54b447;
$contactColor:#eaf7e8;
$mainBg:#f5f5f5;
$mainLink1:#e7983d;
$mainLink2:#e16552;
$articleColor:#e1f0f4;
$articleLink:#b5d3e5;
$sectionLink1:#52b44a;
$sectionLink2:#18b495;
$sectionBgColor:#ded5d0;
$prefooterBg1:#141a1e;
$prefooterBg2:#3ba02b;
$footerBgColor:#23292d;
$footerIconBgColor:#53616a;