$colorP:#747c83;
$colorI:#46515b;
$navLink:#8d8d8d;
$navHover:#3891b7;
$contactP:#204d1a;
$spanColor:#b1f9a7;
$blockColor:#000000;
$mainh3Color:#3891b7;
$mainpcolor:#515151;
$articleInnerh4Color:#b5d3e5;
$articleRighth2Color:#cd2a2a;
$prefooterButton1:#185768;
$prefooterAColor:#96a0a6;
$prefooterh2Color:#21bce2;
$footerPColor:#5e6d78;
$footerIconColor:#23292d;
