$fontNav:17px;
$bannerFont:40.97px;
$bannerLine:54.54px;
$bannerP:30px;
$bannerL:40px;
$blockPara:18px;
$blockLine:32px;
$mainh3:20px;
$mainh3L:49px;
$mainP:12px;
$mainpL:30px;
$articleInnerh4:109px;
$articleRighth2:30px;
$articleRightP:16px;