@font-face {
  font-family: 'MontserratMed';
  src: url("../fonts/monteserratmedium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/monteserratmedium/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'MontserratExtrab';
  src: url("../fonts/monteserratextrabold/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/monteserratextrabold/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/monteserratbold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/monteserratbold/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'MontserratReg';
  src: url("../fonts/monteserratregular/Montserrat-Regular.woff2") format("woff2"), url("../fonts/monteserratregular/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'MontserratSemi';
  src: url("../fonts/monteserratsemi/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/monteserratsemi/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fix::after {
  content: "";
  display: block;
  clear: both; }

.container {
  width: 1200px;
  margin: 0 auto; }

.head {
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center; }

.head_one {
  display: flex; }

.head_one p, .head_two p {
  font-size: 15px;
  color: #747c83;
  font-family: 'MontserratMed'; }

.head_two {
  display: flex; }

.head span {
  margin: 0 15px; }

.fa-map-marker, .fa-globe {
  font-size: 15px;
  color: #46515b;
  margin: 0 10px; }

.head_one h2, .head_two h2 {
  font-size: 15px;
  color: #46515b;
  font-family: 'MontserratExtrab'; }

.head2 {
  margin: 0 10px; }

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .header_content .logo {
    position: relative;
    padding: 30px;
    top: 0px;
    transform: scale(1, 2);
    left: -8px; }
  .header_content a img {
    max-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

.header_content nav ul {
  list-style: none; }
  .header_content nav ul li {
    display: inline-block;
    margin-right: 15px; }
    .header_content nav ul li a {
      text-decoration: none;
      color: #8d8d8d;
      font-family: 'MontserratBold';
      font-size: 17px; }
      .header_content nav ul li a.active, .header_content nav ul li a:hover {
        color: #3891b7;
        border-bottom: 2px solid #3891b7; }

.contact {
  display: flex;
  align-items: center;
  background-color: #eaf7e8;
  border-radius: 20px;
  padding-right: 10px; }
  .contact p, .contact h2 {
    font-size: 12px;
    font-family: 'MontserratBold';
    padding: 0 5px;
    color: #204d1a; }
  .contact h2 {
    padding: 0; }
  .contact i {
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: #54b447;
    cursor: pointer; }

.banner {
  background-image: url(../images/bg.png);
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  text-align: center; }
  .banner .banner_content {
    float: left;
    width: 60%; }
    .banner .banner_content h1 {
      font-size: 40.97px;
      line-height: 54.54px;
      color: #fff;
      font-family: 'MontserratReg'; }
      .banner .banner_content h1 span {
        font-family: 'MontserratExtrab';
        color: #b1f9a7; }
    .banner .banner_content p {
      font-size: 30px;
      line-height: 40px;
      padding-top: 15px;
      color: #fff; }

.banner_content:last-child {
  float: right;
  width: 33%;
  margin-right: 25px; }

.banner_content form {
  background-color: #fff;
  border-radius: 10px; }
  .banner_content form h2 {
    font-size: 30px;
    font-family: 'MontserratExtrab';
    padding: 15px 0; }
  .banner_content form input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    padding-left: 10px;
    margin-bottom: 10px; }
  .banner_content form h3 {
    font-size: 24px;
    padding: 10px 0 15px 0;
    color: #575757; }
  .banner_content form .btn {
    background-color: #52b44e;
    color: #fff;
    font-weight: bold;
    font-family: 'MontserratBold';
    font-size: 21px;
    cursor: pointer; }

.block {
  text-align: center; }

.block h2 {
  font-size: 40px;
  font-family: 'MontserratExtrab';
  color: #000000; }

.block p {
  font-size: 18px;
  line-height: 32px;
  padding: 20px 0 70px 0;
  color: #000000;
  font-family: 'MontserratReg'; }

main {
  padding: 60px 0;
  background-color: #f5f5f5; }
  main .link {
    text-align: center; }
    main .link a {
      text-decoration: none;
      border-radius: 5px;
      padding: 20px 85px;
      color: #fff;
      background: linear-gradient(to right, #e7983d, #e16552);
      display: inline-block;
      font-size: 15px;
      font-family: 'MontserratBold';
      text-transform: uppercase;
      margin-top: 30px;
      box-shadow: 5px 5px 15px gray; }

.main_content {
  float: left;
  width: 46%;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  margin-right: 40px;
  box-shadow: 3px 3px 7px gray,3px 3px 7px gray; }

.main_content img {
  max-width: 100%;
  display: inline-block;
  width: 30%; }

.main_inner {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  margin-left: 21px; }
  .main_inner h3 {
    font-size: 20px;
    line-height: 49px;
    color: #3891b7;
    font-family: 'MontserratExtrab';
    text-transform: uppercase; }
  .main_inner p {
    font-size: 12px;
    line-height: 30px;
    color: #515151;
    font-family: 'MontserratReg'; }

article {
  background-color: #e1f0f4;
  padding: 60px 0; }
  article h2 {
    font-size: 40px;
    color: #000;
    padding-bottom: 30px;
    font-family: 'MontserratExtrab'; }

.article_left {
  float: left;
  width: 55%;
  margin-right: 49px; }

.article_inner {
  float: left;
  width: 20%; }
  .article_inner h4 {
    font-size: 109px;
    color: #b5d3e5;
    font-family: 'MontserratExtrab';
    padding-bottom: 59px; }

.article_inner:last-child {
  float: right;
  width: 80%;
  background-color: #cee2ee;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px; }

.article_inner_inside {
  float: left;
  width: 80%; }
  .article_inner_inside h5 {
    font-size: 18px;
    color: #3063a4;
    font-family: 'MontserratExtrab';
    padding-bottom: 5px; }
  .article_inner_inside p {
    font-size: 16px;
    line-height: 30px;
    color: #5c5c5c;
    font-family: 'MontserratReg';
    padding-right: 131px; }

.apple {
  float: right;
  width: 20%; }

/*------------------------bread crumb left arrow styles---------------------------------*/
div.diamond,
div.ribbon,
div.right-arrow,
div.left-arrow {
  display: inline-block;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 38px;
  margin: 15px 0;
  position: relative;
  width: 200px; }

div.diamond:before,
div.diamond:after,
div.ribbon:before,
div.ribbon:after,
div.right-arrow:before,
div.right-arrow:after,
div.left-arrow:before {
  content: "";
  border-style: solid;
  border-width: 0;
  height: 0;
  position: absolute;
  width: 0; }

div.left-arrow {
  background-color: #b5d3e5;
  opacity: 0.6;
  position: relative; }

div.left-arrow:before {
  border-width: 80px 145px 80px 0; }

div.left-arrow:before {
  border-color: transparent #b5d3e5;
  left: -66px;
  top: -123px; }

.left-arrow::after {
  content: "";
  width: 47px;
  height: 162px;
  position: absolute;
  background-color: #b5d3e5;
  bottom: -38px;
  left: 71px;
  border-right-top-radius: 10px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px; }

.article_right {
  float: right;
  padding: 25px 20px;
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  position: relative; }
  .article_right h6 {
    font-size: 30px;
    color: #cd2a2a;
    font-family: 'MontserratExtrab'; }
  .article_right p {
    font-size: 16px;
    color: #000;
    padding: 15px 0 20px 0;
    font-family: 'MontserratMed'; }
  .article_right input {
    width: 415px;
    height: 70px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    border: 1px solid #d8d8d8;
    margin-bottom: 10px; }
    .article_right input :placeholder {
      color: #444444;
      font-size: 16px;
      text-transform: uppercase;
      font-family: 'MontserratSemi'; }

.article_right form .select {
  width: 120px;
  height: 70px;
  background-color: #b5d3e5;
  color: #000;
  border-radius: 5px;
  font-family: 'MontserratSemi';
  position: absolute;
  right: 45px;
  border: none;
  cursor: pointer; }

.article_right form .button {
  padding: 20px 182px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #e7983d, #e16552);
  cursor: pointer;
  color: #fff;
  font-family: 'MontserratBold';
  display: inline-block;
  margin-top: 60px; }

section {
  padding: 70px 0 80px 0;
  background-color: #ded5d0; }

.section_content {
  float: left;
  width: 50%;
  position: relative; }
  .section_content img {
    max-width: 100%;
    position: absolute;
    top: -362px; }
  .section_content h2 {
    font-size: 49px;
    line-height: 65px;
    font-family: 'MontserratExtrab';
    color: #000; }
  .section_content p {
    font-size: 23px;
    line-height: 42px;
    color: #000;
    font-family: 'MontserratSemi';
    padding: 15px 0 50px 0; }
  .section_content a {
    padding: 15px 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    background: linear-gradient(to right, #52b44a, #18b495);
    text-decoration: none;
    font-family: 'MontserratExtrab';
    font-size: 18px; }
    .section_content a .fa-long-arrow-right {
      color: #fff;
      margin-left: 10px;
      font-size: 18px; }

.section_content:last-child {
  float: right;
  width: 50%;
  text-align: center; }

.prefooter {
  background-color: #141a1e;
  padding: 50px 0; }

.prefooter_content {
  float: left;
  width: 13%;
  margin-right: 73px; }
  .prefooter_content img {
    max-width: 100%; }
  .prefooter_content .button1 {
    text-decoration: none;
    padding: 5px 14px;
    border-radius: 20px;
    font-size: 10px;
    line-height: 32px;
    display: inline-block;
    background: transparent;
    color: #185768;
    font-family: 'MontserratSemi';
    border: 1px solid #185768;
    margin-top: 20px; }
    .prefooter_content .button1 .fa-print {
      color: #185768;
      margin-right: 6px; }
  .prefooter_content .button2 {
    text-decoration: none;
    padding: 5px 14px;
    border-radius: 20px;
    font-size: 10px;
    line-height: 32px;
    display: inline-block;
    color: #fff;
    background-color: #3ba02b;
    font-family: 'MontserratBold';
    padding: 5px 31px;
    margin-top: 10px;
    font-size: 14px; }
  .prefooter_content h2 {
    font-size: 16px;
    font-family: 'MontserratBold';
    color: #21bce2; }
  .prefooter_content ul {
    list-style: none; }
    .prefooter_content ul li {
      margin: 6px 0; }
    .prefooter_content ul a {
      text-decoration: none;
      color: #96a0a6;
      font-size: 16px;
      line-height: 32px;
      font-family: 'MontserratReg'; }

.prefooter_content:last-child {
  margin-right: 0; }

footer {
  background-color: #23292d;
  padding: 20px 0; }

.footer_content {
  float: left;
  width: 67%; }
  .footer_content p {
    font-size: 14px;
    font-family: 'MontserratMed';
    color: #5e6d78; }
  .footer_content i {
    padding: 5px;
    background-color: #53616a;
    color: #23292d;
    margin-right: 6px;
    border-radius: 50%;
    cursor: pointer; }

.footer_content:last-child {
  margin-right: 0;
  width: 30%;
  float: right; }

/*# sourceMappingURL=style.css.map */
