@font-face {
    font-family: 'MontserratMed';
    src: url('../fonts/monteserratmedium/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/monteserratmedium/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MontserratExtrab';
    src: url('../fonts/monteserratextrabold/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/monteserratextrabold/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/monteserratbold/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/monteserratbold/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MontserratReg';
    src: url('../fonts/monteserratregular/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/monteserratregular/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MontserratSemi';
    src: url('../fonts/monteserratsemi/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/monteserratsemi/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}







@import 'all';
@import 'bgColor';
@import 'color';
@import 'fonts';
.head{
	text-align:center;
	padding:10px 0;
	background-color:$backgroundColor;
	display:flex;
	justify-content:center;
	align-items:center;
}
.head_one{
     display:flex;
}
.head_one p,.head_two p{
	font-size:15px;
	color:$colorP;
	font-family: 'MontserratMed';
}
.head_two{
	 display:flex;

}
.head span{
	margin:0 15px;
}
.fa-map-marker,.fa-globe{
	font-size:15px;
	color:$colorI;
	margin:0 10px;

}
.head_one h2,.head_two h2{
	font-size:15px;
	color:$colorI;
	font-family: 'MontserratExtrab';

}
.head2{
	margin:0 10px;
	
}
.header_content{
	display:flex;
	justify-content:space-between;
	align-items:center;

	position:relative;
	 .logo{
          position:relative;
           padding:30px;
          top: 0px;
          transform: scale(1, 2);
          left: -8px;
	}
    a img{
         max-width:100%;
         border-bottom-left-radius:10px;
         border-bottom-right-radius:10px;
        
   }

}
.header_content nav ul{
	list-style:none;
	& li{
	display:inline-block;
	margin-right:15px;
	 & a{
	 text-decoration:none;
	  color:$navLink;
	  font-family: 'MontserratBold';
	  font-size:$fontNav;

	   &.active,&:hover{
	     color:$navHover;
	     border-bottom:2px solid $navHover;
	   }

	 }

	}
}
.contact{
	display:flex;

	align-items:center;
	background-color:$contactColor;
	border-radius:20px;
	padding-right:10px;
	& p, & h2{
	   font-size:12px;
	   font-family: 'MontserratBold';
	   padding:0 5px;
	   color:$contactP;
	}
	& h2{
         padding:0;
	}
	& i{
	  padding:10px;
	  border-radius:50%;
	  color:#fff;
	  background-color:$whatsApp;
	  cursor:pointer;

	}
	}
.banner{
	background-image:url(../images/bg.png);
	padding:70px 0;
	background-repeat:no-repeat;
	background-position:center right;
	background-size:cover;
	text-align:center;
	.banner_content{
	float:left;
	width:60%;
	& h1{
	font-size:$bannerFont;
	line-height:$bannerLine;
	color:#fff;
	  font-family: 'MontserratReg';
	 & span{
	       font-family: 'MontserratExtrab';
	       color:$spanColor;
	 }
	}
	& p{
	    font-size:$bannerP;
	     line-height:$bannerL;
	     padding-top:15px;
	     color:#fff;
	}
	}
}
.banner_content:last-child{
	float:right;
	width:33%;
	margin-right:25px;
}
.banner_content form{
	background-color:#fff;
	border-radius:10px;
	& h2{
	 font-size:30px;
	 font-family: 'MontserratExtrab';
	 padding:15px 0;
	}
	& input{
	width:400px;
	height:50px;
	border-radius:10px;
	border:1px solid #d8d8d8;
	padding-left:10px;
	margin-bottom:10px;
	}
	& h3{
	  font-size:24px;
	  padding:10px 0 15px 0;
	  color:#575757;
	}
	& .btn{
	   background-color:#52b44e;
	   color:#fff;
	   font-weight:bold;
	    font-family: 'MontserratBold';
	    font-size:21px;
	    cursor:pointer;
	}

}
.block{
	text-align:center;
}
.block h2{
	font-size:40px;
	 font-family: 'MontserratExtrab';
	 color:$blockColor;

}
.block p{
	font-size:$blockPara;
	line-height:$blockLine;
	padding:20px 0 70px 0;
	color:$blockColor;
	font-family: 'MontserratReg';
}
main{
	padding:60px 0;
	background-color:$mainBg;
	.link{
	 text-align:center;

	  a{
	  text-decoration:none;
	  border-radius:5px;
	  padding:20px 85px;
	  color:#fff;
	  background:linear-gradient(to right,$mainLink1,$mainLink2);
	  display:inline-block;
	  font-size:15px;
	  font-family: 'MontserratBold';
	  text-transform:uppercase;
	  margin-top:30px;
	  box-shadow:5px 5px 15px gray;
	  }
	}
}
.main_content{
	float:left;
	width:46%;
	margin-bottom:30px;
	background-color:#fff;
	border-radius:20px;
	padding:30px 20px;
	margin-right:40px;
	box-shadow:3px 3px 7px gray,3px 3px 7px gray;
}
.main_content img{
	max-width:100%;
	display:inline-block;
	width:30%;
}
.main_inner{
	display:inline-block;
	width:65%;
	vertical-align:top;
	margin-left:21px;
	h3{
	  font-size:$mainh3;
	  line-height:$mainh3L;
	  color:$mainh3Color;
	  font-family: 'MontserratExtrab';
	  text-transform:uppercase;
	}
	p{
	  font-size:$mainP;
	  line-height:$mainpL;
	  color:$mainpcolor;
	  font-family: 'MontserratReg';
	}
}
article{
         background-color:$articleColor;
         padding:60px 0;
	h2{
       font-size:40px;
       color:#000;
       padding-bottom:30px;
       font-family: 'MontserratExtrab';
	}
}
.article_left{
float:left;
width:55%;
margin-right:49px;

	
}
.article_inner{
	float:left;
	width:20%;
	h4{
	font-size:$articleInnerh4;
	color:$articleInnerh4Color;
	font-family: 'MontserratExtrab';
	padding-bottom:59px;
	}
}
.article_inner:last-child{
	
	float:right;
	width:80%;
	background-color:#cee2ee;
	padding:20px;
	border-radius:20px;
	margin-bottom: 30px;
}
.article_inner_inside{
	float:left;
	width:80%;

	 
	h5{
	 font-size:18px;
	 color:#3063a4;
	 font-family: 'MontserratExtrab';
	 padding-bottom:5px;

	}
	p{
	font-size:16px;
	line-height:30px;
	color:#5c5c5c;
	font-family: 'MontserratReg';
	padding-right:131px;

	}

}
.apple{
	float:right;
	width:20%;
}
/*------------------------bread crumb left arrow styles---------------------------------*/
div.diamond,
div.ribbon,
div.right-arrow,
div.left-arrow {
  display: inline-block;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 38px;
  margin: 15px 0;
  position: relative;
  width: 200px;
}

div.diamond:before,
div.diamond:after,
div.ribbon:before,
div.ribbon:after,
div.right-arrow:before,
div.right-arrow:after,
div.left-arrow:before,
{
  content: "";
  border-style: solid;
  border-width: 0;
  height: 0;
  position: absolute;
  width: 0;
}



div.left-arrow {
  background-color: #b5d3e5;
  opacity: 0.6;
  position:relative;
}


div.left-arrow:before {
 border-width:80px 145px 80px 0;
}

div.left-arrow:before {
  border-color: transparent #b5d3e5;
     left: -66px;
    top: -123px;

}
.left-arrow::after{
	content: "";
    width: 47px;
    height: 162px;
    position: absolute;
    background-color: #b5d3e5;
    bottom: -38px;
    left: 71px;
    border-right-top-radius: 10px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;

}

.article_right{
    float:right;	
	padding:25px 20px;
	width:40%;
	background-color:#fff;
	border-radius:20px;
	position:relative;
	h6{
	   font-size:$articleRighth2;
	   color:$articleRighth2Color;
	   font-family: 'MontserratExtrab';
	}
	p{
	font-size:$articleRightP;
	color:#000;
	padding:15px 0 20px 0;
	font-family: 'MontserratMed';
	}
	input{
	  width:415px;
	  height:70px;
	  padding-left:15px;
	  border-radius:10px;
	  border:none;
	  border:1px solid #d8d8d8;
	  margin-bottom:10px;
	  :placeholder{
	     color:#444444;
	     font-size:16px;
	     text-transform:uppercase;
	     font-family: 'MontserratSemi';
	  }
	  
	}
}
.article_right form .select{
	
	      width:120px;
	      height:70px;
	      background-color:$articleLink;
	      color:#000;
	      border-radius:5px;
	      font-family: 'MontserratSemi';
	      position: absolute;
          right: 45px;
          border: none;
          cursor:pointer;
	  
}
.article_right form .button{
	padding:20px 182px;
	border-radius:10px;
	border:none;
	background:linear-gradient(to right,$mainLink1,$mainLink2);
	cursor:pointer;
	color:#fff;
    font-family: 'MontserratBold';
    display:inline-block;
    margin-top:60px;
	
}
section{
	padding:70px 0 80px 0;
	background-color:$sectionBgColor;
	
}
.section_content{
	float:left;
	width:50%;
	position:relative;

	img{
	max-width:100%;
	position:absolute;
    top:-362px;

	}
	h2{
	   font-size:49px;
	   line-height:65px;
	   font-family: 'MontserratExtrab';
	   color:#000;
	}
	p{

	   font-size:23px;
	   line-height:42px;
	   color:#000;
	    font-family: 'MontserratSemi';
	    padding:15px 0 50px 0;
	    


	}
	a{
	   padding:15px 30px;
	   border-radius:20px;
	   border:2px solid #fff;
	   color:#fff;
	   background:linear-gradient(to right,$sectionLink1,$sectionLink2);
	   text-decoration:none;
	   font-family: 'MontserratExtrab';
	   font-size:18px;
	   .fa-long-arrow-right{
	    color:#fff;
	    margin-left:10px;
	    font-size:18px;
	   }
	}

}
.section_content:last-child{
	  float:right;
	  width:50%;
	  text-align:center;
	  }
.prefooter{
	background-color:$prefooterBg1;
	padding:50px 0;
}
.prefooter_content{
	float: left;
    width: 13%;
    margin-right:73px;
	img{
	max-width:100%;
	}
	.button1{
        @include one;
        background:transparent;
        color:$prefooterButton1;
        font-family: 'MontserratSemi';
        border:1px solid $prefooterButton1;
        margin-top:20px;
        .fa-print{
           color:$prefooterButton1;
           margin-right:6px;
        }


	}
	.button2{
	@include one;
	color:#fff;
	background-color:$prefooterBg2;
	 font-family: 'MontserratBold';
	 padding:5px 31px;
	 margin-top:10px;
	 font-size:14px;

	}
	h2{
	  font-size:16px;
	  font-family: 'MontserratBold';
	  color:$prefooterh2Color;

	}
	ul{
	list-style:none;
	li{
	  margin:6px 0;
	}
	a{
	text-decoration:none;
	color:$prefooterAColor;
	font-size:16px;
	line-height:32px;
	font-family: 'MontserratReg';
	}
	}
}
.prefooter_content:last-child{
	margin-right:0;
}
footer{
	background-color:$footerBgColor;
	padding:20px 0;
}
.footer_content{
	float: left;
    width: 67%;
    
	p{
	font-size:14px;
	font-family: 'MontserratMed';
	color:$footerPColor;
	}
   i{
      padding:5px;
      background-color:$footerIconBgColor;
      color:$footerIconColor;
      margin-right:6px;
      border-radius:50%;
      cursor:pointer;
   }
}
.footer_content:last-child{
	margin-right:0;
	width: 30%;
    float: right;
}













